
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}



.tab-pane .tab-header-area .headers-region .tab {
    -fx-border-color: white white white white;
    -fx-border-radius: 0 0 0 0;
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-pref-height: 40px;
    -fx-background-insets: 0;
}

.tab-pane .tab-header-area .headers-region .tab:selected {
    -fx-border-color: white white white white;
    -fx-border-radius: 0 0 0 0;
    -fx-background-color: derive(#1d1d1d, 40%);
    -fx-pref-height: 40px;
    -fx-background-insets: 0;
}


.tab-pane .tab-header-area .headers-region .tab:selected .tab-container .tab-label {
    -fx-alignment: CENTER;
    -fx-opacity: 0.9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label {
    -fx-alignment: CENTER;
    -fx-opacity: 0.9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: #a3a7a8;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
    -fx-pref-height: 45px;
}

.tab-pane .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-color: #00000000;
    -fx-border-radius: 0 0 0 0;
}